<div class="container">
   <div class="first-page d-flex justify-content-between align-items-center">
    <div class="text d-flex flex-column justify-content-center align-items-center">
    </div>
    </div>
  </div>
<%= render "pages/section_one" %>
<%= render "pages/section_two" %>
<%= render "pages/section_three" %>
<%= render "pages/section_four" %>
<%= render "pages/section_five" %>
<%= render "pages/section_six" %>
<%= render "pages/section_seven" %>
