<div class="container">
   <div class="first-page d-flex justify-content-center align-items-center">
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1626236633/main_x3zpyp.png", alt: "main" %>
    </div>
</div>
<%= render "pages/section_one" %>
<%= render "pages/section_two" %>
<%= render "pages/section_three" %>
<%= render "pages/section_four" %>
<%= render "pages/section_five" %>
<%= render "pages/section_six" %>
<%= render "pages/section_seven" %>
